
.navbar-nav {
	flex: 2 1 0px; 
	justify-content: flex-end;
}

.caseImg {
	height: 20px; 
	padding-right: 3px; 
	padding-bottom: 1px;
}

.copyright {
	font-size: 13px; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	color: #000000; 
	padding: 10px 0; 
	margin-left: -1rem !important;
}