{% extends 'views/shared/base.html' %}
{% load static %}
{% block body_block %}
<section class="content mt-15">
    <div class="container-fluid">
        <div class="row">
           
        </div>
        <div class="row">


                <div class="col-md-12">
                        <div class="error-page" style="margin-top: 200px;max-width: 600px !important;">
                   
                                <div class="error-content">
                                        <h1 class="headline text-danger" style="font-size:55px;">Error</h1>
            
        
                                </div>
                       
                         </div>
            <div class="col-md-12">
                <div class="error-page" style="margin-top: 20px;max-width: 600px !important;">
                   
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

                        <p>
                            We will work on fixing that right away.
                            Meanwhile, you may <a href="{% url "dashboard" %}">return to dashboard</a> or try using the
                            search form.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


