{% extends 'views/shared/base.html' %}
{% load static %}
{% block body_block %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<script src="{% static "assets/js/tesseract.min.js"  %}"></script>
<link href="{% static "assets/css/tailwind.min.css"  %}" rel="stylesheet">
<!-- loading rubber band lib -->
  
<style>

    body {
	font-family: PwC Helvetica Neue;
}

        
    
    .container_canvas {
      position: relative;
      width: 100%; /* Set the desired width */
      height: 800px;/* Set the desired height for the PDF container */
      overflow: auto; /* Enable scrolling for the PDF container */
      display: none;
    }

/* ruber band css */
.box {
    position: absolute;
    border: 3px dotted red; /* Increased border width to 3px */
    pointer-events: none;
    animation: blink 1s infinite;
  
    .selected {
        border: 2px solid #007bff; /* Blue border when selected */
        animation: blink 1s infinite; /* Blinking animation when selected */
      }
    }


  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.conf{
    line-height: 40px;
    width: 20px;
}
.open-button {
	background-color: #3a12ff;
	background-image: linear-gradient(45deg, #eb8c00 0%, #eb8c00 25%, #eb8c00 50%, #eb8c00 75%
		, #eb8c00 100%);
	box-shadow: rgb(0 0 0/ 25%) 0px 2px 5px 2px;
	color: white;
	padding: 10px 14px;
	border: 2px solid #f1f1f1;
	cursor: pointer;
	position: fixed;
	bottom: 40px;
	right: 5px;
	float: right;
	border-radius: 50%;
	font-size: 15px;
	height: 45px;
	width: 45px;
    display:none;
}

/* The popup chat - hidden by default */
.chat-popup {
	display: none;
	position: fixed;
	right: 5px;
	float: right;
	border: 3px solid #f1f1f1;
	z-index: 9;
	bottom: 60px;
}

/* Add styles to the form container */
.chatDiv {
            width: 350px; /* Smaller width */
            height: 500px; /* Smaller height */
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: white;
        }
.msg-header {
            background-color: #c45327;
            color: white;
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }

    
/* .chatDiv {
	max-width: 350px;
	padding: 2px;
	background-color: white;
}
 */
/* Full-width textarea */
.chatDiv textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 150px;
}

/* When the textarea gets focus, do something */
.chatDiv textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/send button */
.msg-header .cancelBtn {
            cursor: pointer;
        }
.chatDiv .btn {
	/* background-color: #04AA6D; */
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button */
.chatDiv .cancel {
	background-color: #000;
}

/* Add some hover effects to buttons */
.chatDiv .btn:hover, .open-button:hover {
	opacity: 1;
}

.containerDiv {
	width: 98%;
	margin: auto;
	/* margin-top: 2rem; */
	letter-spacing: 0.5px;
	height: 80%;
}


/* Styling the msg-header container */
/* .msg-header {
	border: 1px solid #ccc;
	width: 100%;
	height: 10%;
	border-bottom: none;
	display: inline-block;
	background-color: #efefef;
	margin: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
} */
/* Styling the profile picture */
.msgimg {
	margin-left: 2%;
	float: left;
}

.container1 {
	width: 270px;
	height: auto;
	float: left;
	margin: 0;
}

/* styling user-name */
.container1 .active {
	width: 150px;
	float: left;
	color: black;
	font-weight: bold;
	margin: 0 0 0 5px;
	height: 10%;
}
/* Styling the inbox */
.chat-page {
	padding: 2px;
}

/* .msg-inbox {
	border: 1px solid #ccc;
	overflow: hidden;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
} */



.msg-page {
	max-height: 400px;
	overflow-y: auto;
    height: 440px;
}
/* /* Styling the msg-bottom container  */
.msg-bottom {
	border-top: 1px solid #ccc;
	position: relative;
	height: 11%;
	background-color: rgb(239, 239, 239);
}

.my-chatb{
    background-color: #5535f8;
    background-image: linear-gradient(45deg, #ad1b02 0%, #8f2536 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    font-size: 14px;
}

.input-group-text-bot{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.530rem .75rem;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
received-chats-img {
	display: inline-block;
	width: 50px;
	float: left;
}

.received-msg {
	display: inline-block;
	/* padding: 0 0 0 10px; */
	vertical-align: top;
	width: 100%;
}

.received-msg-inbox {
	width: 92%;
}

.received-msg-inbox p {
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #646464;
	font-size: 8px;
	margin-left: 1rem;
	padding: 1rem;
	width: 100%;
	box-shadow: rgb(0 0 0/ 25%) 0px 5px 5px 2px;
}

p {
	overflow-wrap: break-word;
}
.pdfpage {
            margin-bottom: 20px;
            position: relative;
        }

.highlight {
    background-color: rgba(255, 255, 0, 0.3); /* Light yellow with transparency */
    /* animation: blink 1s infinite alternate; Blinking effect */
}

/* Styling the msg-sent time  */
.time {
	color: #777;
	display: block;
	font-size: 8px;
	margin: 8px 0 0;
}

.outgoing-chats {
	overflow: hidden;
	margin: 15px 8px;
}

.outgoing-chats-msg p {
	background-color: #3a12ff;
	background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%
		, #515BD4 100%);
	color: #fff;
	border-radius: 10px;
	font-size: 8px;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 92%;
	padding: 1rem;
	box-shadow: rgb(0 0 0/ 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
	float: right;
	width: 100%;
}

/* Styling the avatar */
.outgoing-chats-img {
	display: inline-block;
	width: 50px;
	float: right;
	margin-right: 1rem;
}

@media only screen and (max-device-width: 850px) {
	*, .time {
		font-size: 10px;
	}
	img {
		width: 65px;
	}
	.msg-header {
		height: 5%;
	}
	.msg-page {
		max-height: none;
	}
	.received-msg-inbox p {
		font-size: 10px;
	}
	.outgoing-chats-msg p {
		font-size: 10px;
	}
}

@media only screen and (max-device-width: 450px) {
	*, .time {
		font-size: 10px;
	}
	img {
		width: 65px;
	}
	.msg-header {
		height: 5%;
	}
	.msg-page {
		max-height: none;
	}
	.received-msg-inbox p {
		font-size: 10px;
	}
	.outgoing-chats-msg p {
		font-size: 10px;
	}
}    
</style>

<!-- <div class="row"> -->
    <input type="hidden" id="input_data">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="font-size: 20px;" class="mb-0">Validate Document</h5>
                        <div id="head_file_name">Document Name</div>
                    </div>
                    <div class="col-md-6">

                       
                        <form name="updateuser" style="display: inline-block;" action="/download_audit_excel/"
                        method="post">
                        <input type="hidden" id="predicted_uuid" name="predicted_uuid" value="">

                        {% csrf_token %}{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                        <button type="submit" id="btn_download"  style="display:none;float:right;margin-right:5px;"
                            class="btn  btn_pwc float-right">
                            <i class="glyphicon glyphicon-download-alt"></i> Download</button>
                    </form>
                    <div style="float: right;"> 
                        <a href="#" id="rubber_button" class="" ></a>
                        <a href="#" id="submit_data" class="btn btn_pwc" >Validate</a>
                        <a id="button_next_item" class="btn btn_pwc" >Next</a>
                        </div>
                    </div>
                </div>

            </div>
            
            <div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-4">
                      <!--  <button id="staticItemsTab" class="bg-blue-500 text-white p-2">Static Fields</button>
                        <button id="invoiceAnalyticsTab" class="bg-green-500 text-white p-2">Invoice Analytics</button> -->
                        <div id="form_fields" class="h-380 overflow-y-scroll bg-white p-4 border rounded-lg shadow-md" style="max-height:800px;">
                            <!-- Place your form fields content here -->
                        </div>
                        <input id="original_file_name" name="original_file_name" class="hidden">
                    </div>
                    <div class="col-span-8">
                        <!-- <div class="mb-10 border border-gray-300 min-h-800" id="invoice_display"> -->
                            <!-- Place your invoice display content here (e.g., PDF viewer) -->
                        <!-- </div> -->

                        <div class="container_canvas" id="canvas_container" style="display: block;">
                            <!-- <p>Page: <span id="page-number" style="display: none;"></span></p>
                            <p>Box Coordinates: <span id="box-coordinates" style="display: none;"></span></p> -->
                            <!-- Place your invoice display content here (e.g., PDF viewer) -->
                            <div class="pdf-pages">
            
                            </div>
                            <div id="bounding-box" class="box" style="display: none;"></div>
                        </div>
                        <div>
                            <p><span id="page-number" style="display: none;"></span></p>
                            <p><span id="box-coordinates" style="display: none;"></span></p>
                        </div>
                        

                    </div>
                </div>
            </div>
            
    <!-- ============================================================== -->
    <!-- end data table  -->
    <!-- ============================================================== -->
<!-- </div> -->


<ul class="nav nav-tabs" style="padding-top:25px;">
    <li class="nav-item">
        <!-- <a class="nav-link active" data-toggle="tab" href="#lineItemsTab" onclick="toggleTableVisibility()">Line Items</a> -->
    </li>
</ul>

<div class="tab-content">
    <div id="lineItemsTab" class="container tab-pane active">
        <div class="row" ID="form_table_fields" style="padding: .90rem !important;">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-info">
                    <div class="card-header d-flex" style="padding: .50rem 1.00rem !important;">
                        <h3 class="card-title" style="color: black;font-size: 1.5rem;font-weight: 600;padding-top: 13px;">
                            Line Items</h3>
                        <div class="toolbar ml-auto">
                            <button type="submit" onclick="addTableRow()" class="btn btn_pwc">Add Row</button>
                            <input type="hidden" id="header_count">
                        </div>
                    </div>
                    <div class="card-body" >
                        <div style="overflow-x: scroll; width: 100%;">
                            <table class="table table-bordered table-hover dataTable" id="table_data" role="grid"
                                aria-describedby="table_data_info">
                                <thead id="table_heading">
                                </thead>
                                <tbody id="itemList" contenteditable="true" style="color:black;border-width:1px;height:15px;border-style:solid;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="open-button" id="open-button" onclick="openForm()">
    <i class="fa fa-wechat"></i>
</div>
<form id="chatb-formb">
    <div class="chat-popup" id="myForm">
        <div class="chatDiv"> 
            <div class="containerDiv">
                <!-- msg-header section starts -->
                <div class="msg-header">
                    <div class="container1">
                        <div class="row">
                            <div class="col-auto">
                              <!-- <i style="color:#867f7e;font-size:30px;" class="glyphicon glyphicon-user"></i> -->
                              <i style="color:white;font-size:30px;" class="fa-solid fa-user"></i>
                            </div>
                            <div class="col">
                              <h6 class="card-title mb-0" style="padding-top:4px;color:white;width:120px;">IDP ChatBot</h6>
                              <p class="card-text text-muted text-xs" style="padding-top:2px;">online</p>
                            </div>
                            <div class="col">
                                <div class="cancelBtn" onclick="closeForm()">
                                <i class="fa fa-close"></i>
                                </div>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <!-- msg-header section ends -->
    
                {% csrf_token %}
                <input type="hidden" value="{{ company_code }}|{{botdata.config_uuid}}|{{botdata.file_name}}" name="inputpath"> 
                <!-- Chat inbox  -->
                <div class="chat-page">
                    <div class="msg-inbox">
                        <div class="chats chatb" id="chatb">
                            <!-- Message container -->
                            <div class="msg-page "  id="chatb">
                                <!-- Incoming messages -->
    
                                <div class="received-chats">
                                    
                                    <div id="bot_info" style="padding-top:150px;text-align: center;">
                                        Welcome to IDP ChatBot !!!! <br />Please start your Chat Session
                                    </div>
                    
                                    <ul id="msg-listb" class="list-group">
                                        
                                    </ul>
                            </div>
                        </div>
    
                        <!-- msg-bottom section -->
    
                        <div class="msg-bottom">
                            <div class="input-group">
                                <input type="text" id="buser_text"  class="form-control" placeholder="Enter Message" required
                                oninvalid="this.setCustomValidity('Please Enter your Query')"
                                oninput="this.setCustomValidity('')" />
                                <button id="sendb" type="submit" class="sendb-btn">
                                                
                                    <span class="input-group-text-bot send-icon"> <i class="fa fa-send-o"></i>
                                </span>
                                </button>    
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>


<script src="{% static "assets/vendors/chatbot/js/chart.js" %}"></script>

<script src="{% static "assets/vendors/chatbot/js/bot.js" %}"></script>
<script>


function openForm() {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("open-button").style.display = "none";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("open-button").style.display = "block";
    }



    $(document).ready(function () {
        var chart = null; // Variable to hold the chart instance

        $("#invoiceAnalyticsTab").on("click", function () {
            // Hide the "invoice_display" content
            $("#invoice_display").addClass("hidden");

            // Show the "invoice_analytics" content
            $("#invoice_analytics").removeClass("hidden");

            // Show the chart container and create the chart if it hasn't been created
            $("#chartContainer").removeClass("hidden");
            if (!chart) {
                var ctx = document.getElementById('analyticsChart').getContext('2d');
                const formFields = document.getElementById("form_fields");
                console.log(formFields)
                chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Company Name', 'Invoice Number', 'Invoice Date','Bill To Address','Ship To Address','Subtotal','Tax','Total Amount','Po Number'],
                        datasets: [{
                            label: 'Accuracy-Metric',
                            data: [98,95,98,99,100,95,97,95,98],
                            backgroundColor: '#87CEEB',
                            borderColor: '#87CEEB',
                            borderWidth: 1
                        }]
                    },
                    options: {
        scales: {
            y: {
                beginAtZero: true // Set Y-axis to begin at 0
            }
        }
    }
                    
                });
            }
        });

        $("#staticItemsTab").on("click", function () {
            // Hide the "invoice_analytics" content
            $("#invoice_analytics").addClass("hidden");

            // Show the "invoice_display" content
            $("#invoice_display").removeClass("hidden");

            // Hide the chart container when switching back to static items
            $("#chartContainer").addClass("hidden");
        });
    });
</script>

<script>
    var url_param = document.location.pathname.split("/");

    var URL_ROOT = $('#SITEROOTURL').val()


</script>
<script src="{% static "assets/js/popper.min.js" %}"></script>
<script>
    function toggleTableVisibility() {
            var table = document.getElementById("form_table_fields");
            console.log(table.style.display)
            if (table.style.display == "none") {
                table.style.display = "block";
            } else {
              //  table.style.display = "nonaddEventListenere";
            }
        }

       function download_report(){
    var linksArray =['http://10.89.148.86:443/static/eips_data/invoice_data/45309525/contract_sow/Billing_masters.xlsx','http://10.89.148.86:443/static/eips_data/invoice_data/45309525/contract_sow/Revenue_masters.docx']
    var i;
      for( i=0; linksArray.length > i; i++){
        window.open(linksArray[i],'_blank');
      }
 }
</script>

<script>
    // Get the button element and the form fields element
    const staticItemsTab = document.getElementById("staticItemsTab");
    const formFields = document.getElementById("form_fields");

    // Add a click event listener to the button
    staticItemsTab.addEventListener("click", function () {
        // Toggle the visibility of form fields
        formFields.classList.toggle("hidden");
    });
</script>
<script>
    var iTbl = 100;
    function addTableRow() {
        var oTable = document.getElementById('itemList');
        var tbcount = oTable.rows.length;
        var table_header_count = $("#header_count").val()
        if (tbcount % 2 === 0) { var classname = "background-color : #fff  !important"; } else { var classname = "background-color : #def2f3 !important"; }
        iTbl = iTbl + 1;
        var fieldElementString = '<tr id=tbl' + iTbl + ' style="' + classname + '" >';

        for (head_start = 0; head_start < table_header_count; head_start++) {
            fieldElementString += "<td></td>"
        }
        fieldElementString += '<td class="rmrow" title="Delete Row" onclick="rowclose(' + iTbl + ')"><div style="text-align:center;cursor:pointer" ><i class="fa-solid fa-trash"></i></div></td>'
        fieldElementString += "</tr>"
        $("#itemList").append(fieldElementString);

    }

    function rowclose(id) {
        var custumField = confirm("Are you sure to delete this this line item?");
        if (custumField == true) {
            $("#tbl" + id).remove();
        }
    }

</script>
<script>
    document.querySelector(".nav-link").addEventListener("click", toggleTableVisibility);
</script>
<script src="{% static "assets/js/pdf.min.js"  %}"></script>
<script>
    pdfjsLib.GlobalWorkerOptions.workerSrc = "{% static "assets/js/pdf.worker.min.js"  %}";

    $(document).ready(function () {
        getFieldsInfo()
    });

    function generate_standard_layout(standard_list) {

        var formlayout = ""

        for (var start = 0; start <= (standard_list.length - 1); start++) {
            key = standard_list[start]["field_key"]
            keyval = standard_list[start]["fields_name"]
            mapped_field = standard_list[start]["mapped_field"]
            field_type = standard_list[start]["field_type"]
            is_disable = ""

            if (key == "file_name") {
                is_disable = "disabled";

            }
            else {
                is_disable = "";
            }
            var template_str = static_fields_template()
            template_str = template_str.replace("$LABLEFOR$", key)
            if (field_type == "S" || field_type == "T") {
                template_str = template_str.replace("$ID$", key)
                template_str = template_str.replace("$NAME$", key)
                template_str = template_str.replace("$KEY_NAME$", key)
                template_str = template_str.replace("$CONF_ID$", "conf_" + key)
                template_str = template_str.replace("$CONF_NAME$", "conf_" + key)
            }
            else {
                template_str = template_str.replace("$ID$", mapped_field)
                template_str = template_str.replace("$NAME$", mapped_field)
                template_str = template_str.replace("$KEY_NAME$", key)
                template_str = template_str.replace("$CONF_ID$", "conf_" + mapped_field)
                template_str = template_str.replace("$CONF_NAME$", "conf_" + mapped_field)
            }
            template_str = template_str.replace("$DISABLE$", is_disable)

            if (keyval.toLowerCase() == "delivery address") {
                template_str = template_str.replace("$LABEL$", uc_first("Ship to Address"))
            }
            else if (keyval.toLowerCase() == "invoice address") {
                template_str = template_str.replace("$LABEL$", uc_first("Bill to Address"))
            }
            else {
                template_str = template_str.replace("$LABEL$", uc_first(keyval))
            }
            template_str = template_str.replace("$PLACEHOLDER$", uc_first(keyval))
            formlayout += template_str
        }

        return formlayout
    }


    function uc_first(input) {

        var result = ""
        var words = input.split(' ');

        output = ""
        for (var i = 0; i < words.length; i++) {
            output = output + " " + words[i].substr(0, 1).toUpperCase() + words[i].substr(1);
        }
        result = output
        return result
    }

    function static_fields_template() {
        row_template = "<div class='form-group row $KEY_NAME$'>"
        row_template += "<div class='col-sm-4 col-md-4'><label for='$LABLEFOR$' class='col-form-label lbl' style='white-space: pre-line;' >$LABEL$</label></div>"
        row_template += "<div class='col-sm-8  col-md-7'>"

        row_template += "<textarea field_key = '$KEY_NAME$'   class='form-control' ondblclick='showoutput(this.id)' $DISABLE$ id='$ID$' name='$NAME$' placeholder='$PLACEHOLDER$' ></textarea>"
        row_template += "</div>"

        row_template += "</div>"
        return row_template
    }

    function generate_table_template(table_fields, addrow) {
        table_header_row = ""
        var header = ""
        for (var tablerow_start = 0; tablerow_start <= (table_fields.length - 1); tablerow_start++) {
            header_key = ''

            if (table_fields[tablerow_start]["field_type"] == "T") {
                header_key = table_fields[tablerow_start]["fields_name"].replace(' ', '_').toLowerCase()
            }
            else if (table_fields[tablerow_start]["field_type"] == "TC") {
                header_key = table_fields[tablerow_start]["mapped_field"].replace(' ', '_').toLowerCase()
            }
            var header_row = "<th tabindex='0' class='sorting_asc' id='" + header_key + "' aria-controls='table_data' aria-label='Rendering engine: activate to sort column descending' aria-sort='ascending' rowspan='1' colspan='1'>" + uc_first(table_fields[tablerow_start]["fields_name"]) + "</th>"
            header += header_row
        }
        if (addrow == true) {
            table_header_row = "<tr role='row'>" + header + "</tr>"
        }
        else {
            table_header_row = header
        }

        return table_header_row

    }


    function getFieldsInfo() {
        info = {}
        info["UUID"] = url_param[2]
        info["is_detail"] = "0"
        info = JSON.stringify(info)
        $.ajax({
            url: URL_ROOT + '/extracted_fields_idp/',

            headers: { "X-CSRFToken": '{{ csrf_token }}', 'Content-Type': undefined },
            type: "POST",
            crossDomain: true,
            dataType: "json",
            data: { info },
            success: function (result_output) {  console.log(result_output)

                if (result_output["status"] == "info") {
                    $('.iscontent').hide()
                    $('.message').show()
                    $('.message').html(result_output['message'])
                    toastr.error(result_output['message'])
            
                }
                else {
                    data = result_output.customfields
                    $('.iscontent').show()
                    $('.message').html("")
                    $('.message').hide()
                    standard_form_open = '<form name="audit_form" id="audit_form">  <input type="hidden" name="invoiceID" value="2">'
                    standard_form_close = '</form>'
                    standard_fields = generate_standard_layout(data["standard_list"])
                    standard_custom_fields = generate_standard_layout(data["standard_custom_list"])
                    layout = standard_form_open + standard_fields + standard_custom_fields + standard_form_open
                    $('#form_fields').append().html(layout)
                    table_standard_layout = generate_table_template(data["table_list"], "false")
                    table_custom_layout = generate_table_template(data["table_custom_list"], "true")
                    table_layout = table_standard_layout + table_custom_layout
                    table_layout += "<th>Action</th>"
                    $("#header_count").val(parseInt(data["table_list"].length) + parseInt(data["table_custom_list"].length))
                    console.log($("#header_count").val())
                    $('#table_heading').html(table_layout)
                    get_predict_details()
                    $("#conf_file_name").hide()
                }
            },
            error: function (error) {

                console.log(error);
            }
        });
    }

    
    function openFile(file) {
                                var extension = file.substr( (file.lastIndexOf('.') +1) ).toLowerCase();
                                return extension;
                            } 
    function removeHighlightedElement() {
        const element = document.querySelector('div .highlight');
        $('.highlight').removeAttr('style');
        if (element) {
            element.remove();
            console.log('Highlighted element removed.');
        } else {
            console.log('No highlighted element found.');
        }
    }

    function highlightText(coords) { 
    const pdfPages = document.querySelectorAll('.pdfpage');    
    pdfPages.forEach((pageContainer, pageIndex) => {
        
        const canvas = pageContainer.querySelector('canvas');
        // const canvas = pageContainer
        console.log(canvas, "aaaa")
        const canvasContext = canvas.getContext('2d');
        const pageCoords = coords.filter(coord => coord.pageNumber === pageIndex + 1); // Filter coords for current page
        console.log(pageCoords)
        pageCoords.forEach(coord => {
            const { x, y, width, height } = coord;
            // Highlight the text
            canvasContext.fillStyle = 'rgba(128, 255, 0, 0.3)'; // Yellow highlight
            canvasContext.fillRect(x, y, width, height);
            // Adjust the coordinates if needed  
            const adjustedX = x - 2; // Adjust the x coordinate  
            const adjustedY = y - 2; // Adjust the y coordinate  
            const adjustedWidth = width + 5; // Adjust the width  
            const adjustedHeight = height + 5; // Adjust the height  
  
  
            // Draw the red border  
            canvasContext.strokeStyle = 'rgba(175, 75, 75, 0.5)';   
            canvasContext.lineWidth = 2; // Set the border width  
            canvasContext.strokeRect(adjustedX, adjustedY, adjustedWidth, adjustedHeight);

            removeHighlightedElement();
            // Scroll the container to the position of the highlighted text
            const highlightedElement = document.createElement('div');
            highlightedElement.classList.add('highlight');
            pageContainer.appendChild(highlightedElement);

            highlightedElement.style.position = 'absolute';  
            highlightedElement.style.left = (x - 5) + 'px';  
            highlightedElement.style.top = (y - 5) + 'px';  
            highlightedElement.style.width = (width + 10) + 'px';  
            highlightedElement.style.height = (height + 10) + 'px';  
            highlightedElement.style.border = '2px solid rgba(0, 0, 0, 0.7)'; // Border around the highlighted text  
            highlightedElement.style.boxSizing = 'border-box';  
  
            // Create the side arrow  
            const sideArrow = document.createElement('div');  
            sideArrow.classList.add('side-arrow');  
            highlightedElement.appendChild(sideArrow);  
  
            sideArrow.style.position = 'absolute';  
            sideArrow.style.left = '-10px'; // Adjust the position as needed  
            sideArrow.style.top = '50%';  
            sideArrow.style.transform = 'translateY(-50%)';  
            sideArrow.style.width = '0';  
            sideArrow.style.height = '0';  
            sideArrow.style.borderTop = '10px solid transparent';  
            sideArrow.style.borderBottom = '10px solid transparent';  
            sideArrow.style.borderRight = '10px solid rgba(0, 0, 0, 0.7)';  
            

            highlightedElement.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
        });
    });
}

    
    function latlon(data){   
           var newlist= data.split(",")
               newlist = JSON.parse("[" + newlist.join() + "]");
           
            const coordinates = [
                    { pageNumber: newlist[4], x:newlist[0], y:newlist[1], width:newlist[2], height:newlist[3]}
                ];
            
            if (document.getElementById("canvas_container").style.display === "block"){
                highlightText(coordinates);

            }
            
                
        }


    function get_predict_details() {
        info = {}
        info["UUID"] = url_param[2]
        info = JSON.stringify(info)
        $.ajax({
            url: URL_ROOT + '/get_predict_data/',
            headers: { "X-CSRFToken": '{{ csrf_token }}', 'Content-Type': undefined },
            type: "POST",
            crossDomain: true,
            dataType: "json",
            data: { info },
            success: function (data) {
                 console.log("Hellohere")
                 console.log(data)
		 console.log(data)
                next_item = data["next_id"]
                if (next_item != "") {
                    $("#button_next_item").attr("href", "/audit/" + next_item+"/");
                } 
                else
                {
                    $("#button_next_item").attr("href", "/processed/");
                }
                standard_data_json = data["standard_data"][0]
                table_data_json = data["table_data"]
                // Bind Standard Fields
                seturl = "{% static "eips_data"  %}/invoice_data/" + standard_data_json["company_code"] + "/" + standard_data_json["config_uuid"] + "/" + standard_data_json["file_name"]
                const seturl_ = encodeURI(seturl);
                console.log(seturl_)
                //rubber band code
                pdfjsLib.getDocument(seturl_).promise.then((pdf) => {
                    pdfDoc = pdf;
                    
                    renderAllPages();
                    });


                $.each(standard_data_json, function (key, val) {

                    field_value = ""
                    if (val == null) {
                        field_value = ""
                    }
                    else {

                        /*val= val.toString().trim().replace(/^,|.|;|:/, '');*/
                        field_value = val;

                    }


                    if (key == "file_name") {
                        $("#head_file_name").html(field_value)
                        $("#conf_file_name").hide()
                        
                    }
                    if (key.indexOf("conf_") != -1) {

                        confkey = key.split("conf_")
                        
                        if(field_value == ""){ field_value="0" }
                        
                        if (field_value != "") {
                            $("#" + key).html(field_value)
                            data = field_value.split('|')
                            if (data.length==2){
                                $("#" + confkey[1]).attr("onclick", "latlon('" + data[1] + "')")
                            
                            if (data[0] < 60 ) {
                                  if(data[0] == 1){
                                          
					 // $("#" + confkey[1]).attr("style", "background-color:#329549c7; color:#000;width:auto !important;")
                     $("#" + confkey[1]).attr("style","background-color: #175d2d; color: white; width: auto !important;font-weight: 500;")
                                      
                                $("#" + key).html("")
					
                                }else{

                                $("#" + confkey[1]).attr("style", "background-color:#fedacc;color:#000; width:auto !important;opacity:.6 !important;font-weight: 500;")
                                $("#" + key).html("")
				}
                            }
                            else {
		 	
	                // $("#" + confkey[1]).attr("style", "background-color:#329549c7; color:#000;width:auto !important")
                    $("#" + confkey[1]).attr("style","background-color: #175d2d; color: white; width: auto !important;font-weight: 500;")
                                $("#" + key).html("")


                            }
                        }
                        else{
                            if(data[0] == 1){
                                          
					 // $("#" + confkey[1]).attr("style", "background-color:#329549c7; color:#000;width:auto !important;")
                     $("#" + confkey[1]).attr("style","background-color: #175d2d; color: white; width: auto !important;font-weight: 500;")
                                      
                                $("#" + key).html("")
					
                                }else{

                                $("#" + confkey[1]).attr("style", "background-color:#fedacc;color:#000; width:auto !important;opacity:.6 !important;font-weight: 500;")
                                $("#" + key).html("")
				}
                        }
                    }
                        else {
                            $("#" + key).html("")
                            $("#" + key).attr("style", "background-color:#fedacc; color:#fff;width:auto !important;opacity:.6 !important")
                    }    }
			
                    
                    else {
                        $("#" + key).val(field_value)
                    } 
                });
                

                set_table_data(table_data_json)

            },
            error: function (error) {

                console.log(error);
            }
        });
    }

    function set_table_data(table_fields) {

        if (table_fields.length > 0) {
            table_row = ""
            for (row = 0; row < table_fields.length; row++) {
                obj_table = table_fields[row];
                column_val = ""
                $.each(obj_table, function (key, val) {
                     
                    field_value = ""
                    if (val == null) {
                        field_value = ""
                    }
                    else {
                        if (val.indexOf("$$") >= 0) {
                            field_value = val.replace("$$", "");
                        }
                        
                        else if (val.indexOf("Remarks") >= 0) {
                            arr_remarks = val.split("Remarks");
                            field_value = arr_remarks[0]
                        }
                        else {
                            field_value = val;
                        }

                    }
                    column_val = column_val + "<td  tabindex='0' class='sorting_asc'  aria-controls='table_data' aria-label='Rendering engine: activate to sort column descending' aria-sort='ascending' rowspan='1' colspan='1'>" + field_value + "</td>"

                });
                column_val += '<td class="rmrow"  title="Delete Row" onclick="rowclose(' + row + ')"><div style="text-align:center;cursor:pointer" ><i class="fa-solid fa-trash"></i></div></td>'
                table_row += "<tr id= 'tbl" + row + "'  role='row'>" + column_val + "</tr>"

            }
            $('#itemList').html(table_row)
        }
        else {
            $("#table_section").hide();
        }

    }


    $('#submit_data').click(() => {
        var StandardFieldList = {};
        var rowColumnList = []
        var rowHeaderList = []

        $.each($('#audit_form').serializeArray(), function (i, field) {
            StandardFieldList[field.name] = field.value;
        });
        StandardFieldList["original_file_name"] = $("#original_file_name").val()

        $("thead#table_heading th").each(function () {
            if ($(this).html() != "Action") {
                rowHeaderList.push($(this).attr('id'))
            }
        });

        var oTable = document.getElementById('itemList');
        var rowColumnList_outer = []
        var rowLength = oTable.rows.length;
        for (i = 0; i < rowLength; i++) {
            rowColumnList = []
            var oCells = oTable.rows.item(i).cells;
            var cellLength = oCells.length;
            //loops through each cell in current row
            for (var j = 0; j < cellLength - 1; j++) {
                var cellVal = oCells.item(j).innerHTML;
                rowColumnList.push(cellVal)
            }
            rowColumnList_outer.push(rowColumnList)

        }

        var auditInfo = {};

        auditInfo['StandardFieldList'] = StandardFieldList
        auditInfo['rowHeaderList'] = rowHeaderList
        auditInfo['rowColumnList'] = rowColumnList_outer
        auditInfo['predicted_uuid'] = $("#predicted_uuid").val()
        console.log("Data asampale")
        console.log(rowHeaderList)
        console.log(rowColumnList_outer)
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        auditInfo = JSON.stringify(auditInfo)
        loading()
        $.ajax({
            url: URL_ROOT + '/auditSubmit/',
            headers: { "X-CSRFToken": '{{ csrf_token }}', 'Content-Type': undefined },
            type: "POST",
            crossDomain: true,
            data: { auditInfo },
            success: function (data) {
                var result_output = JSON.parse(data)

                if (result_output.status == "1") {
                    toastr.success(result_output.message);
                    $("#button_next_item").show();
                    $("#submit_data").hide();
                    $("#btn_download").show();
                    unloading()
                    init_active_learning();
                }
                else {
                    toastr.error(result_output.message);
                    $("#button_next_item").hide();
                    $("#submit_data").hide();
                    $("#btn_download").hide();
                    unloading()
                }

            },
            error: function (error) {
                toastr.error("Server not available"); unloading()

            }

        });

    });

    function init_active_learning() {
        info = {}
        info["UUID"] = url_param[2]
        info = JSON.stringify(info)
        $.ajax({
            url: URL_ROOT + '/init_active_learning/',
            headers: { "X-CSRFToken": '{{ csrf_token }}', 'Content-Type': undefined },
            type: "POST",
            crossDomain: true,
            dataType: "json",
            data: { info },
            success: function (data) {

            },
            error: function (error) {

                console.log(error);
            }
        });
    }
</script>
<script>


    // ruberr band code
    const pdfPagesContainer = document.querySelector('.pdf-pages');
    const toggleButton = document.getElementById("rubber_button");
    const invoice_dsply = document.getElementById("invoice_display");
    const canvas_cnt = document.getElementById("canvas_container")
    const boundingBox = document.getElementById('bounding-box');
    const pageNumberText = document.getElementById('page-number');
    const boxCoordinatesText = document.getElementById('box-coordinates');
    let pdfDoc = null;
    let currentPage = 1;
    let isDrawing = false;
    let startX, startY, endX, endY;
    let selectedFieldId = null; // Initialize the variable to store the selected field's ID
    let highFieldId = null;

    toggleButton.addEventListener("click", function() {
      if (canvas_cnt.style.display === "none") {
        canvas_cnt.style.display = "block";
        invoice_dsply.style.display = "none"
      } else {
        canvas_cnt.style.display = "none";
        invoice_dsply.style.display = "block"
      }
    });


    async function renderAllPages() {
  const numPages = pdfDoc.numPages;
 
  for (let pageNum = 1; pageNum <= numPages; pageNum++) {
    
    pdfDoc.getPage(pageNum).then((pdfPage) => {
      const viewport = pdfPage.getViewport({ scale: 1.0 });
      const canvas = document.createElement('canvas');
      canvas.className = 'pdf-page';
      canvas.id = "page_"+pageNum;
      // canvas.height = 1584;
    //   width='100%' height='800px'
     // canvas.width = canvas.parentNode.clientWidth;
     // canvas.width = 750;   
     // canvas.height = 900;
        canvas.height = viewport.height*1.05
      canvas.width = viewport.width;

      canvas.style.margin = '0'; // Set margin to 0

      //Add border and box shadow to the canvas for a professional look
      canvas.style.border = '0.1px solid #000000';
      // canvas.style.boxShadow = '2px 2px 10px rgba(0, 0, 0, 0.7)';

      pdfPage.render({
        canvasContext: canvas.getContext('2d'),
        viewport: viewport,
      });

      // Append canvas to container
      const pageContainer = document.createElement('div');
      pageContainer.classList.add('pdfpage');
      pageContainer.appendChild(canvas);
      pdfPagesContainer.appendChild(pageContainer);
      
      if (pageNum === 1) {
        pdfCanvas = canvas;
      }
      
      
    //   drawBoundingBoxOnPage("page_1", 142, 32, 465, 85);




    });
  }
}

function showoutput(id){
    
    var current_data = $("#input_data").val()
    if(current_data) {
    $("#"+id).val(current_data)
    
    $("#"+id).css("background-color","#0F0");
    }

}
function highlightField(field) {
    field.classList.toggle("bg-yellow-200");
    selectedFieldId = field.id; // Store the ID of the selected field
    highFieldId = field.id
    console.log("LLLLL",highFieldId)
    if (highFieldId === 'populatedField3'){
        console.log("OOOOOO");
        // drawBoundingBoxOnPage("page_1", -30, 280, 265, 155);

      };
    
      if (highFieldId === 'populatedField5'){
        console.log("OOOOOO");
        // drawBoundingBoxOnPage("page_1", 500, 280, 265, 155);

      };
}


pdfPagesContainer.addEventListener('mousedown', (e) => {
      isDrawing = true;
      const rect = pdfCanvas.getBoundingClientRect();
      // const rect = e.target.getBoundingClientRect();
      startX = e.clientX - rect.left;
      startY = e.clientY - rect.top;
    });

    pdfPagesContainer.addEventListener('mousemove', (e) => {
      if (isDrawing) {
        const rect = pdfCanvas.getBoundingClientRect();
        // const rect = e.target.getBoundingClientRect();
        endX = e.clientX - rect.left;
        endY = e.clientY - rect.top;
        drawBoundingBox();
      }
    });
    document.addEventListener('mouseup', (event) => {
      if (isDrawing) {
        isDrawing = false;
        
        // Get the clicked element
        const clickedElement = event.target;
        
        // Check if the clicked element has the class "pdf-pages"
        if (clickedElement.classList.contains('pdf-page')) {
          // Get the id of the clicked element
          const id = clickedElement.id;
          
          // Now you can use the 'id' variable as needed.


          updateSelectionDetails(id);
          console.log(clickedElement.height,clickedElement.width)

          saveBoundingBoxAsImage(id);

          


          // saveBoundingBoxAsImage(id);
        }
      }
});

function drawBoundingBox() {
      let left = Math.min(startX, endX);
      let top = Math.min(startY, endY);
      let width = Math.abs(endX - startX);
      let height = Math.abs(endY - startY);

      boundingBox.style.display = 'block';
      boundingBox.style.left = left + 'px';
      boundingBox.style.top = top + 'px';
      boundingBox.style.width = width + 'px';
      boundingBox.style.height = height + 'px';
    }

    function updateSelectionDetails(page) {
      console.log(page);
      // currentPage = page;
      pageNumberText.innerText = page;

      const left = boundingBox.offsetLeft;
      const width = boundingBox.offsetWidth;
      const height = boundingBox.offsetHeight;
      let top = boundingBox.offsetTop;
      if(page != "page_1"){
        top = top-(1584*page.split('_').pop() - (1584))
      }
      

      boxCoordinatesText.innerText = `X: ${left}, Y: ${top}, Width: ${width}, Height: ${height}`;
    }

    // Load the Tesseract.js library
const Tesseract = window.Tesseract;


// Function to perform OCR on the cropped image
function performOCR(croppedImageDataURL) {
  // Convert the data URL to a blob
  fetch(croppedImageDataURL)
    .then((response) => response.blob())
    .then((blob) => {
      // Use Tesseract.js to perform OCR on the image blob
      Tesseract.recognize(
        blob,
        'eng', // Language code, you can change this to match the language of your text
        {
          logger: (info) => console.log(info), // Optional, for logging progress
        }
      )
        .then(({ data: { text } }) => {
          // The extracted text is now available in the 'text' variable
          console.log('Extracted text:', text);

          const formattedText = text.replace(/\n/g, ' ');

          $("#input_data").val(formattedText);

        });
    });
}
function saveCroppedImage(page) {
  const coordinates = getBoundingBoxCoordinates();
  if (coordinates) {
    const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
    const sourceCanvas = document.getElementById(page);

    // Get the page number from the canvas ID
    const pageNumber = parseInt(page.split('_')[1]);
    
    // Calculate the top offset for the current page
    const topOffset = 1586 * (pageNumber - 1);

    canvas.width = coordinates.width;
    canvas.height = coordinates.height;

    



    // Draw the cropped area from the source canvas to the new canvas
    ctx.drawImage(
      sourceCanvas,
      coordinates.left,
      coordinates.top - topOffset,
      coordinates.width,
      coordinates.height,
      0,
      0,
      coordinates.width,
      coordinates.height
    );

    // Convert the cropped image to a data URL
    const croppedImageDataURL = canvas.toDataURL('image/png');

    // OCR Code
    performOCR(croppedImageDataURL);

  }
}


    function getBoundingBoxCoordinates() {
      const left = boundingBox.offsetLeft;
      const top = boundingBox.offsetTop;
      const width = boundingBox.offsetWidth;
      const height = boundingBox.offsetHeight;
      return { left, top, width, height };
    }

    function saveBoundingBoxAsImage(page) {
      saveCroppedImage(page);
    }

    function drawBoundingBoxOnPage(page, left, top, width, height) {
            const canvas = document.getElementById(page);
            console.log("JHHjnjnjk HH",canvas)
            if (canvas) {
                const rect = canvas.getBoundingClientRect();
                const adjustedLeft = left + rect.left;
                const adjustedTop = top + rect.top;
                console.log(adjustedLeft,adjustedTop,width,height,"GOOOOOO")
                boundingBox.style.display = 'block';
                boundingBox.style.left = adjustedLeft + 'px';
                boundingBox.style.top = adjustedTop + 'px';
                boundingBox.style.width = width + 'px';
                boundingBox.style.height = height + 'px';
            }
        }



</script>
{% endblock %}
