{% extends 'views/shared/base.html' %}
{% load static %}
{% block body_block %}

<div class="col-md-12">

								<div class="card dash-card">
                                     <div class="card-header" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="font-size: 20px;" class="mb-0"><img
										src="{% static "assets/img/PwC_Funct_Icons_CircleCheckmark_Outline_Black_RGB.png" %}"
										class="caseImg">&nbsp;Processed document(s) list</h5>
                            <p>List of documents which were processed by the system.</p>
                    </div>
                </div>
                                    </div>
									<div class="card-body">
										<table id="myTable" class="display dataTable no-footer">
											<thead>
												<tr>
													 <th >#</th>
                                                        <th>Document name</th>
                                                        <!-- <th>Doc type</th> -->
                                                        <th>Config name</th>
                                                        <th>Processed date</th>
                                                        <th>Processed by</th>
                                                        <th>Status</th>
                                                        <th>Delete</th>
												</tr>
											</thead>
											<tbody>
												 {% for info in processedData %}
                                                    
                                                    <tr id="predict_{{ info.predicted_uuid }}">
                                                        <td>
                                                        {% if info.predicted_status == "2" %} {{ forloop.counter }}
                                                        {% else %}
                                                        <a href="{% url 'audit' pk=info.predicted_uuid  %}">{{ forloop.counter }}</a>
                                                        {% endif %}
                                                        </td>
                                                        <td>
                                                        {% if info.predicted_status == "2" %} {{info.file_name}}
                                                        {% else %}
                                                        <a href="{% url 'audit' pk=info.predicted_uuid  %}">{{info.file_name}}</a>
                                                        {% endif %}
                                                        </td>
                                                        <!-- <td style="text-transform: capitalize;">
                                                        {% if info.predicted_status == "2" %} {{info}}
                                                        {% else %}
                                                        <a href="{% url 'audit' pk=info.predicted_uuid %}">{{info.doc_type}}</a>
                                                        {% endif %}
                                                        </td> -->
                                                        <td style="text-transform: capitalize;">
                                                        {% if info.predicted_status == "2" %} {{info}}
                                                        {% else %}
                                                        <a href="{% url 'audit' pk=info.predicted_uuid %}">{{info.config_uuid}}</a>
                                                        {% endif %}
                                                        </td>
                                                      
                                                        <td>{{ info.created_datetime }} </td>
                                                        <td>{{info.first_name}} {{info.last_name}}</td>
                                                        
                                                        <td class="txt_center">
                                                            {% if info.predicted_status == "0" %}
                                                            <i class="fa fa-edit" title="Inactive" class="red_icon"></i>
                                                            {% elif info.predicted_status == "1" %}
                                                            <i class="fa fa-edit" title="Active" class="green_icon"></i>
                                                            {% elif info.predicted_status == "2" %}
                                                            On Hold
                                                            {% endif %}
                                                        </td>
                                                        <td class="txt_center"> <i  style = "color:#000" class="fa fa-trash" onclick="deleteRecord('{{ info.predicted_uuid }}')"
                                                            fileName="{{info.file_name}}"></i></td>
                                                    </tr>
                                                    {% endfor %}
											</tbody>
										</table>

									</div>
								</div>
			</div>







<script>

      $(document).ready(function() {
            $('#myTable').DataTable();
        });
    
var URL_ROOT = $('#SITEROOTURL').val()
    function deleteRecord(recID) {
        
        var userInfo = {};
        userInfo['Id'] = recID;

        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        userInfo = JSON.stringify(userInfo)
        var conf = confirm("Are you sure to delete this record?")
        if (conf == true) {

            $.ajax({
                url: URL_ROOT + '/deletedprocessedRecords/',

                headers: {
                    'Content-Type': undefined
                },
                type: "POST",
                crossDomain: true,
                data: { userInfo , csrfmiddlewaretoken: '{{ csrf_token }}'  },
                success: function (prodata) {
                    console.log(prodata) 
                    if (prodata.status == "1") {
                        $("#predict_" + prodata.id).hide();
                        console.log("Delete Successfully")
                        toastr.success(prodata.message)
                    } else {
                        toastr.error(prodata.message)
                        
                    }

                },
                error: function (error) {
                    $('#overlay').hide();
                    toastr.error(error)
                }

            });

        }
    }

</script>
{% endblock %}
