{% load static %}
<head>
<meta charset="UTF-8">
<title>::: Digital Workmate :::</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="{% static "assets/css/google_css.css" %}">
<link href="{% static "assets/css/bootstrap.min-4.1.1.css" %}" rel="stylesheet"
	id="bootstrap-css">
<script src="{% static "assets/js/bootstrap.min-4.1.1.js" %}"></script>
<script src="{% static "assets/js/jquery-3.6.0.min.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "assets/css/login-style.css" %}">

<style>
.col-lg-8, .col-lg-4 {
	padding: 0;
}

.col-lg-4 {
	background-color: transparent;
	margin-top: 10%;
	max-width: 100%;
	overflow: hidden;
}

.login-inner-form {
	padding: 15px;
}
</style>


</head>
<body id="top">
	<div class="login-2 tab-box">
		<div class="container-fluid">
			<div class="row" style="justify-content: left; margin-left: 15%;">
				<div class="col-lg-4 col-md-5 col-pad-0 bg-color align-self-center">
					<div class="login-inner-form" id="myTabContent">

						<div class="details">
							<h3>Digital Workmate</h3>
							<h2>You are logged out!</h2>
							
								<h2>
									<a style="color:#FFFFFF;text-decoration:underline" href="/login">Click here to
										Login again</a>
								</h2>
							
						</div>
					</div>
				</div>
			</div>
		</div>
</body>