{% extends 'views/shared/base.html' %}
{% load static %}
{% block body_block %}
<input type="hidden" id="selected_config" value="1">
<div class="col-md-12">
    <div class="card dash-card">
        <div class="card-header" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="font-size: 20px;" class="mb-0"><img
										src="{% static "assets/img/PwC_Funct_Icons_Upload_Outline_Black_RGB.png" %}"
										class="caseImg">&nbsp;Upload document(s) list</h5>
                            <p>Upload documents to process by the system.</p>
                    </div>

                </div>

            </div>
<div class="card-body">
    <!-- <div class="page-title-upload">
      <div class="title_left">
        <h2>Upload files</h2>
      </div>
    </div> -->

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title" style="border-bottom: 0px;display:flex;width: 75%;">
              <div class="col-md-4 col-sm-4  form-group has-feedback">
                <select class="form-control has-feedback-left" id="config_name" onchange="set_config()">
                  <option value="0">&nbsp;Select Configuration</option>
                  {% for info in config_list %}
                    
                    {% if info.config_name != "Gen AI Config" %}
                    <option value="{{info.config_uuid}}" style="text-transform: capitalize">{{info.config_name}}
                  </option>
                  
                    {% endif %}
                  {% endfor %}
                </select>
                <span class="fa fa-cogs form-control-feedback left showp" aria-hidden="true" style="text-transform: capitalize"></span>
              </div>
                <div class="col-md-4 col-sm-4 form-group has-feedback">
                <select class="form-control has-feedback-left" id="doc_type" >
                  <option value="0">Select Doc type </option>
                  <option value="1">Contract</option>
                  <option value="2">Invoice</option>
                </select>
                <span class="fa fa-file-text form-control-feedback left showp" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 form-group has-feedback">
                <select class="form-control has-feedback-left" id="engine_dropdown" >
                  <option value="0">Select AI Engine </option>
                  <option value="1">PWC's OCR Engine</option>
                  <!-- <option value="2">Generative AI</option> -->
                </select>
                <span class="fa fa-file-text form-control-feedback left showp" aria-hidden="true"></span>
              </div>
              <br>
               <div class="col-md-4 col-sm-4  form-group has-feedback hidep" id="pwc_model">
                <select class="form-control has-feedback-left"  >
                  <option value="1">PwC- Proprietary</option>
                  <option value="2">Hyper-Scaler OCR – AWS/Azure</option>
                </select>
                <span class="fa fa-globe form-control-feedback left showp" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4  form-group has-feedback hidep"  id="genai_model">
                <select class="form-control has-feedback-left"  >
                  <option value="1">Llama (On-Prem LLM)</option>
                  <option value="2">Azure Open AI services (Cloud-Based LLMs)</option>
                </select>
                <span class="fa fa-globe form-control-feedback left showp" aria-hidden="true"></span>
              </div>   
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="display: none;margin-bottom:10px;text-align: center;">
            <p>Drag multiple files to the box below for multi upload or click to select files</p>
            <form action="/uploadfile/" class="dropzone" >
              {% csrf_token %}
              <input type="hidden" id="config_id" name="config_id" value="">
              <input type="hidden" id="ocr_id" name="ocr_id" value="3">
              <input type="hidden" id="doc_id" name="doc_id" value="1">
              <input type="hidden" id="engine_id" name="engine_id" value="1">
              <input type="hidden" id="source_code" name="source_code" value="1">
            </form>
            <br />
            
          </div>

          <div class="x_content hidep" id="outputrow" style="display: none;padding-bottom:70px;">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">File name</th>
                    <th class="column-title">Processed date</th>
                    <th class="column-title">Processed by </th>
                    <th class="column-title">View </th>
                    <th class="column-title">Delete </th>
                  </tr>
                </thead>

                <tbody id="showresult">
                  
                </tbody>
              </table>
            </div>
      
    
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

  
  
<script>
  function set_config() {
    if ($("#config_name").val() != "0") {
        item = $("#config_name").val();
        $("#config_id").val(item);
        $(".x_content").show()
    }else{
      $(".x_content").hide()
    }
    
}

$('#source_select').change(function() {
       var  source_code=$(this).val()
       $("#source_code").val(source_code)
});

$("#ocr_code").change(function() {
  var  ocr_code=$(this).val()
     $("#ocr_id").val(ocr_code)
})

$("#doc_type").change(function() {
  var doc_type=$(this).val()
     $("#doc_id").val(doc_type)
})

 $("#engine_dropdown").change(function() {  
  var  engine_id=$(this).val();
     $("#engine_id").val(engine_id);
    
     if(engine_id =='1'){   $('#pwc_model').removeClass('hidep');   $('#genai_model'). addClass('hidep'); }
     else if(engine_id =='2'){  $('#genai_model').removeClass('hidep'); $('#pwc_model').addClass('hidep'); }
     else{  $('#pwc_model').addClass('hidep');   $('#genai_model').addClass('hidep');   } 
})
</script>
{% endblock %}
