{% extends 'views/shared/base.html' %}
{% load static %}
{% block body_block %}


<div calss="row">

    <div class="col-md-6 col-sm-6  ">
        <div class="x_panel config-panel">
          <div class="x_title">
            <h2><i class="fa fa-cogs"></i>  Create Configuration</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

           

            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="standard-tab" data-toggle="tab" href="#standard" role="tab" aria-controls="standard" aria-selected="true">Standard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="lineitem-tab" data-toggle="tab" href="#lineitem" role="tab" aria-controls="lineitem" aria-selected="false">Line Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="userdefine-tab" data-toggle="tab" href="#userdefine"
                    role="tab" aria-controls="userdefine" aria-selected="false">User Define</a>
            </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="standard" role="tabpanel" aria-labelledby="standard-tab">
                
                <div  id="stfield" class="pt-25">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="File_Name" data_type="text" disabled="disabled"
                                        checked="checked">
                                    <label for="File_Name">
                                        File Name
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" data_type="number" id="PO_Number" class="sf">
                                    <label for="Customer Name">
                                        Customer Name
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" data_type="number" id="Invoice_Number" class="sf">
                                    <label for="Project Start Date">
                                        Project Start Date
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Account_Number" data_type="number" class="sf">
                                    <label for="Project End Date">
                                        Project End Date
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Invoice_Date" data_type="date" class="sf">
                                    <label for="Signed/Unsigned">
                                        Signed/Unsigned
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Invoice_Type" data_type="text" class="sf">
                                    <label for="KIF ID">
                                        KIF ID
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Total_Amount" data_type="amount" class="sf">
                                    <label for="Customer Signature Date">
                                        Company Code  
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Shipping_Amount" data_type="amount" class="sf">
                                    <label for="Entity">
                                        Entity
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Currency" data_type="amount" class="sf">
                                    <label for="COLA">
                                        COLA
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="Tax_Amount" data_type="amount" class="sf">
                                    <label for="Company Code">
                                        Customer Signature Date
                                    </label>
                                </div>

                            </div>
                        </div>

                        
                    </div>
                </div>
                <div  class="rplace">
                    <input id="save-stdfield-button" class="btn btn-pwc" type="button"
                        value="Add Field(s)">
                </div>
              </div>
              <div class="tab-pane fade" id="lineitem" role="tabpanel" aria-labelledby="lineitem-tab">
                <div id="dynamic_field_checkbox" class="card-body linepanel">
                    <div class="linetag">Place synonym with comma seprated</div>
                    <div class="row form-group mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="line_no" class="tsf">
                                    <label for="line_no"> Contract Name </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="line_no_value"
                                placeholder="">
                        </div>
                    </div>
                    <div class="row form-group  mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="order_number" class="tsf">
                                    <label for="order_number">
                                        Selected Interval
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="order_number_value"
                                placeholder="">
                        </div>
                    </div>

                    <div class="row form-group  mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="description" class="tsf">
                                    <label for="description">
                                        Standing Charges
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control mt-9" id="description_value"
                                placeholder="">
                        </div>
                    </div>
                    <div class="row form-group  mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="unit_price" class="tsf">
                                    <label for="unit_price">
                                        Consumption
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control mt-9" id="unit_price_value"
                                placeholder="">
                        </div>
                    </div>

                    <div class="row form-group  mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="amount" class="tsf">
                                    <label for="amount">
                                        Past Year
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control mt-9" id="amount_value"
                                placeholder="">
                        </div>
                    </div>

                    <div class="row form-group  mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="unit" class="tsf">
                                    <label for="unit">
                                        Past Month
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="unit_value"
                                placeholder="">
                        </div>
                    </div>

                    <div class="row form-group mb-7">
                        <div class="col-4">
                            <!-- checkbox -->
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="quantity" class="tsf">
                                    <label for="quantity">
                                        Switching Savings
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="quantity_value"
                                placeholder="">
                        </div>
                    </div>


                    <div class="row form-group mb-7">
                        <div class="col-4">
                            <div class="form-group clearfix">

                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="total_amount" class="tsf">
                                    <label for="total_amount">
                                        Total Amount
                                    </label>
                                </div>

                            </div>

                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="total_amount_value"
                                placeholder="">
                        </div>
                    </div>
                    <div class="rplace">
                        <input id="add-standard-dynamic" class="btn btn-pwc" type="button"
                            value="Add Field(s)">
                    </div>

                </div>

                
              </div>
              <div class="tab-pane fade" id="userdefine" role="tabpanel"
                                                    aria-labelledby="userdefine-tab">
                                                    <div class="form-group row pt-25">
                                                        <div class="col-md-5">
                                                            <input type="text" id="custom_field_input"
                                                                class="form-control" maxlength="30" placeholder="Enter Standard User Define Fields" value="">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control customDropdown" id="custom_field_datatype">
                                                                <option value="0">Select Data Type</option>
                                                                <option value="text">Text</option>
                                                                <option value="longtext">Long Text</option>
                                                                <option value="number">Number</option>
                                                                <option value="date">Date</option>
                                                                <option value="alphanumeric">Alphanumeric</option>
                                                                <option value="address">Address</option>
                                                                <option value="email">Email</option>
                                                                <option value="phone">Phone</option>
                                                                <option value="count">Count</option>
                                                                <option value="amount">Amount</option>
                                                            </select>
                                                        </div>

                                                        <div class=" col-md-3" style="text-align: right;">
                                                            <input type="button" id="add-custom-static"
                                                                class="btn btn-pwc" value="Add Field(s)">

                                                        </div>

                                                        <div class="col-md-12 text-muted" id="customError"></div>

                                                    </div>
                                                    <div id="dynamic_field_input" class="form-group pt-25">

                                                        <div class="form-group  field_wrapper" id="dynamic_field_input">
                                                            <div class="row">
                                                                <div class="col-md-11">
                                                                    <input type="text" name="field_name[]"
                                                                        maxlength="30" value=""
                                                                        placeholder="Enter User Define Line Items"
                                                                        class="form-control stan-input custom_field_input_table" />

                                                                </div>
                                                                <div class="col-md-1">
                                                                    <a href="javascript:void(0);" class="add_button"
                                                                        title="Add field"><i
                                                                            class="glyphicon glyphicon-plus"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="rplace">
                                                        <input id="add-custom-dynamic" class="btn btn-pwc" type="button"
                                                            value="Add Field(s)">
                                                    </div>
                                                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6  ">
        <div class="x_panel config-panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                <li><input type="text" id="config_name" class="form-control" maxlength="30"
                    placeholder="Configuration Name" value=""></li>  
                    <li>&nbsp;</li>  
                <li><input id="launch-idp" class="btn btn-pwc" type="button"
                    value="Publish"></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="card card-info ">
                    <div style="padding: 10px;">
                        <h4 class="card-title"><i class="fa fa-cogs"></i> Preview Standard Fields </h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body draggable border-top">
        
                        <form id="idp_user_form">
                            <div id="entity-form" class="sort">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card card-info">
                    <div style="padding: 10px;">
                        <h4 class="card-title"> <i class="fa fa-list"></i> Preview Line Item Fields</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body draggable border-top">
                        <table class="table table table-responsive table-hover dataTable" id="example2"
                            role="grid" aria-describedby="example2_info">
                            <thead id="table_heading">
                            </thead>
                            <tbody id="table_body">
                            </tbody>
                        </table>
                    </div>
        
                    <!-- /.card-body -->
                </div>
            </div>
         </div> 
    </div>  



</div>



<script src="{% static "assets/build/js/addfield.js" %}"></script>
<script src="{% static "assets/build/js/bootstrap-maxlength.min.js" %}"></script>
<script>
    
    $(function () {
        $("#custom_field_input").keypress(function (e) {
            var keyCode = e.keyCode || e.which;
            $("#customError").html("");
            //Regex for Valid Characters i.e. Alphabets and Numbers.
            var regex = /^[A-Za-z0-9_ ]+$/;
            //Validate TextBox value against the Regex.
            var isValid = regex.test(String.fromCharCode(keyCode));
            if (!isValid) {
                $("#customError").html("Special character are not allowed.");
            }
            return isValid;
        });

        $("input[maxlength]").maxlength();

    });



    $(function () {
        $(".custom_field_input_table").keypress(function (e) {
            var keyCode = e.keyCode || e.which;
            $("#customError").html("");
            //Regex for Valid Characters i.e. Alphabets and Numbers.
            var regex = /^[A-Za-z0-9_ ]+$/;
            //Validate TextBox value against the Regex.
            var isValid = regex.test(String.fromCharCode(keyCode));
            if (!isValid) {
                $("#customError").html("Special character are not allowed.");
            }
            return isValid;
        });

        $("input[maxlength]").maxlength();

    });

</script>
<script>
  /*  $(function () {
        $("#entity-form, #sort-2").sortable({
            connectWith: ".sort",
            containment: $(".draggable"),
            items: "> div.additem"
        }).disableSelection();
    });


    */

</script>
<script type="text/javascript">

    $(document).ready(function () {
        var maxField = 50; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div class="row"><div class="col-md-11 pt-15" ><input type="text"  maxlength="30"  name="field_name[]" class="form-control stan-input custom_field_input_table" value=""/></div><div class="col-md-1 pt-10"><a href="javascript:void(0);" class="remove_button"><i class="glyphicon glyphicon-minus"></i></div><div>'; //New input field html 
        var x = 1; //Initial field counter is 1

        //Once add button is clicked
        $(addButton).click(function () {
            //Check maximum number of input fields

            if (x < maxField) {
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
                $("input[maxlength]").maxlength();
            }
        });
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            console.log($(this).parent().parent('div').html())
            $(this).parent().parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });

    function clearmessage() {
        $('#alert_success').hide()
        $('#alert_error').hide()
        $('#errormessage').html("")

    }

    function add_fields_configuration(inputData) {

        $("#launch-idp").attr("disabled", true);
        field_info = JSON.stringify(inputData)
        $.ajax({
            url: $("#SITEROOTURL").val() + '/add_fields_configuration/',

            headers: { "X-CSRFToken": '{{ csrf_token }}', 'Content-Type': undefined },
            type: "POST",
            crossDomain: true,
            dataType: "json",
            data: { field_info },
            success: function (result_output) {
                console.log(result_output)

                if (result_output.status == "1") {
                    toastr.success(result_output.message)

                    setTimeout(function () { location.reload(); }, 5000)
                    // $('#alert_success').show()
                    // $('#alert_error').hide()
                    // $('#successmessage').html(result_output.message)
                    //setTimeout(function(){ clearmessage()}, 9000); 
                }
                else {
                    toastr.error(result_output.message)
                    // $('#alert_success').hide()
                    // $('#alert_error').show()
                    // $('#errormessage').html(result_output.message)
                    //setTimeout(function(){ clearmessage()}, 3000); 
                }
            },
            error: function (error) {

                console.log(error);
            }
        });
    }

</script>

<script type="text/javascript">

    $('.sf_checked_all').on('change', function () {
        $('.sf').prop('checked', $(this).prop("checked"));
    });

    $('.sf').change(function () { //".checkbox" change 
       
        if ($('.sf:checked').length == $('.sf').length) {
            $('.sf_checked_all').prop('checked', true);
        } else {
            $('.sf_checked_all').prop('checked', false);
        }
    });



    $('.tsf_checked_all').on('change', function () {
        $('.tsf').prop('checked', $(this).prop("checked"));
    });

    $('.tsf').change(function () { //".checkbox" change 
        if ($('.tsf:checked').length == $('.tsf').length) {
            $('.tsf_checked_all').prop('checked', true);
        } else {
            $('.tsf_checked_all').prop('checked', false);
        }
    });
</script>

{% endblock %}
