{% load static %}
<head>
<meta charset="UTF-8">
<title>::: Digital Workmate :::</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="{% static "assets/css/google_css.css" %}">
    
<link href="{% static "assets/css/bootstrap.min-4.1.1.css" %}" rel="stylesheet"
	id="bootstrap-css">
<script src="{% static "assets/js/bootstrap.min-4.1.1.js" %}"></script>
<script src="{% static "assets/js/jquery-3.6.0.min.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/css/login-style.css" %}">
<link rel="stylesheet" href="{% static "assets/font.css"  %}">
<!-- toaster --> 
<link rel="stylesheet" href="{% static "assets/vendors/toastr/toastr.min.css" %}">    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="{% static "assets/js/angular.min.js" %}"></script>
<script src="{% static "assets/js/ui-grid-unstable.js" %}"></script>
<script src="{% static "assets/js/angular-material.min.js" %}"></script>
<script src="{% static "assets/js/1.5.6-angular-route.js" %}"></script>
<script src="{% static "assets/js/angular-resizable.min.js" %}"></script>
<script src="{% static "assets/js/toaster.js" %}"></script>
<script src="{% static "assets/js/toastr.min.js" %}"></script>
<script src="{% static "assets/js/angular-idle.min.js" %}"></script>
<script src="{% static "assets/js/crypto-js.min.js" %}"></script>
<script src="{% static "assets/js/angular-cookies.js" %}"></script>
<script src="{% static "assets/js/popper.min.js" %}"></script>

<style>
body {
	font-family: PwC Helvetica Neue;
}
</style>

</head>
<body id="top">
	<div class="login-2 tab-box">
		<div class="container-fluid">
			<div class="rowDiv">
				<div class="col-lg-6 col-md-5 col-pad-0 bg-color align-self-center">
					<div class="login-inner-form" id="myTabContent" style="max-width:100% !Important;">

						<div class="details">
							<h3>Digital Workmate</h3>
							<h2>Create Account</h2>
							 <form id="user_register" name="user_register" method="POST">
                                  {% csrf_token %}
                                    {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}" />
                                    {% endif %}

                                <div class="row">
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="First Name*"  name="new_first_name" id="new_first_name">
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Last Name*" name="new_last_name" id="new_last_name" >
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Email*" name="new_email" id="new_email">
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Organization Name*" name="new_org_name" id="new_org_name">
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <input type="password" class="form-control" placeholder="Password*" name="new_password" id="new_password">
                                    </div>
                                    <div class="col">
                                      <input type="password" class="form-control" placeholder="Confirm Password*" name="con_password" id="con_password">
                                    </div>
                                  </div>
                                 <input type="hidden" id="is_outer_user" name="is_outer_user" value="outer">
                                 <input type="hidden" id="new_is_superuser" name="new_is_superuser" value="1">
                           
                           
								<div style="margin-top:20px; margin-bottom:20px;">
									<input type="checkbox" id="tnc" required=""> <label
										class="form-check-label" for="tnc">
										<h5 style="font-size: 0.83em;;">
											I agree to the <a
												href="#1" onclick="t_and_c()"
												style="color: #ffc83d;text-decoration: none;">terms and conditions</a>
										</h5>
									</label>
								</div>
								<div>
									<span style="float: left;"> <a href="/login"
										style="color: #EBEBEB;text-decoration: none;">Go to Login</a>
									</span> <span style="float: right;"> <input type="button"
										class="btn-md btn-theme" id="register_submit" value="Register" onclick="register_process()">
									</span>
								</div>
                                  </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" style="opacity: 1;" id="forget" tabindex="-1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel" style="font-weight: 500;">Forgot
						password</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-3">
							<label for="username">Username :</label>
						</div>
						<div class="col-md-8">
							<label style="font-weight: 600;"></label>
						</div>

						<div class="col-md-3">
							<label for="email">Email :</label>
						</div>
						<div class="col-md-8">
							<label style="font-weight: 600;"></label>
						</div>
						<div class="col-md-12 text-right">
							<button class="btn btn-primary btn-sm"
								style="margin-right: 10px;">Submit</button>
							<button class="btn btn-danger btn-sm">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid">
		<div class="copyright ml-auto">
			<p>
				©2024 PwC. All rights reserved. PwC refers to the PwC network and/or
				one or more of its member firms, each of which is a separate legal
				entity. <br> Please see <a href="http://www.pwc.com/structure"
					target="_blank" style="color: #ffc83d">pwc.com/structure</a>&nbsp;for
				further details.
			</p>
		</div>
	</div>

<script src="{% static "assets/vendors/toastr/toastr.min.js" %}"></script>


<script>

var URL_ROOT = "{{ WEB_API_LINK }}/"
    
    function t_and_c() {  
          window.open(URL_ROOT + "terms_and_condition", '_blank', 'width=1200 ,height=650');  
        }  
    
    function reloadpage() {
                 location.reload();
        }
    function clearmessage() {
                $('#alert_success').hide()
                $('#alert_error').hide()
                $('#errormessage').html("")
        }
    function register_process() {

                $("#password_error").val("");
                var userInfo = {};
                $.each($('#user_register').serializeArray(), function (i, field) {
                    userInfo[field.name] = field.value;
                });
                $('#alert_error').hide()
                $('#errormessage').html("")
                if (!$("#tnc").is(':checked')) {
                    toastr.error("Please select Terms and Conditions.")
                }
                else {

                    if (userInfo['new_email'] != "") {
                        // var crf_token = "{{ csrf_token }}"
                        var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                        userInfo = JSON.stringify(userInfo)
                        console.log(userInfo)
                        $.ajax({
                            url: URL_ROOT + '/registeruser/',
                            headers: { "X-CSRFToken": crf_token, 'Content-Type': undefined },
                            type: "POST",
                            crossDomain: true,
                            data: { "userInfo": userInfo },
                            success: function (result) {
                                var result_output = JSON.parse(result)
                                if (result_output.status == "1") {
                                    $('#alert_error').hide()
                                    $('#alert_success').show()
                                    $('#successmessage').html(result_output.Message)
                                    toastr.success(result_output.Message)
                                    setTimeout(function () { clearmessage(); reloadpage() }, 3000);
                                }
                                else {

                                    toastr.error(result_output.Message)
                                    setTimeout(function () { clearmessage() }, 3000);
                                }

                            }
                        });

                    } else {
                        toastr.error("Please fill all requried information.")
                    }
                }
                } 
    </script>
</body>