{% extends 'views/shared/base.html' %}
{% load static %}
{% block body_block %}
<style>
    .btn_pwc { float: right; }
    .dropdown-custom { width: 100%; height: 35px; border: antiquewhite;}
    .card-title { font-size: 1.5rem; }
    .table th, .table td { vertical-align: middle; }
    .modal-content { align:center; border-radius: 10px; }
    .btn-custom { background-color: #007bff; color: white; }
    .btn-custom:hover { background-color: #0056b3; }
    .status-icon { font-size: 1.5rem; }
</style>

<div class="card dash-card">
                                         <div class="card-header" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="font-size: 20px;" class="mb-0"><img
										src="{% static "assets/img/PwC_Funct_Icons_Convert_Fill_Black_RGB.png" %}"
										style="height:25px">&nbsp;STP Supplier(s) list
                        <input type="button" class="btn btn_pwc" value="Add Customer" data-toggle="modal" data-target="#registerModal"></input>
                        </h5>
                            <p>List of suppliers to process bulk data.</p>
                        
                    </div>
                </div>
                                    </div>
    <!-- <div class="card-header">
        <h3 class="card-title"><img src="{% static "assets/img/PwC_Funct_Icons_Convert_Fill_Black_RGB.png" %}"
								style="height: 35px;">STP Supplier 
            <input type="button" class="btn btn_pwc" value="Add Customer" data-toggle="modal" data-target="#registerModal"></input>
        </h3>
    </div> -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="datatable-checkbox" class="display dataTable no-footer" style="width:99%">
                <thead>
                    <tr>
                        <th style="width:4%">#</th>
                        <th style="width:60%;">Customer name</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supp in supplier_info %}
                    <tr id="userrow{{ supp.supplier_id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ supp.supplier_name }}</td>
                        <td style="text-align:center">
                            {% if supp.supplier_status == "0" %}
                            <i class="fa-solid fa-circle" title="Inactive" style='color:#d04a02'></i>
                            
                            {% elif supp.supplier_status == "1" %}
                            <i class="fa-solid fa-circle" title="Active" style='color:#21992d'></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <i class="fa-solid fa-pen-to-square" onclick="updateSupp('{{ supp.supplier_id }}','{{supp.supplier_name}}','{{supp.supplier_status}}')" title="Edit" data-toggle="modal" data-target="#registerModal" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 650px !important;margin-left:20%;">
            <div class="modal-header">
                <h3 class="modal-title" style="color: black;font-size:1.5rem;margin-top:1%;">Add/Edit Customer</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="p-10">
                    <form name="supp_register" id="supp_register" method="POST">
                        {% csrf_token %}
                        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                        <input type="hidden" name="supplier_id" id="supplier_id" value="">
                        <div class="form-group">
                            <label for="supplier_name">Customer Name</label>
                            <input type="text" name="supplier_name" id="supplier_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="supplier_status">Customer Status</label>
                            <select name="supplier_status" id="supplier_status" class="dropdown-custom" required>
                                <option value="">Select</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" id="btn_add_new" onclick="add_new_supplier()" class="btn btn_pwc">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function() {
            $('#datatable-checkbox').DataTable();
        });
     var URL_ROOT = $('#SITEROOTURL').val()

    function updateSupp(id,name,status) {
            $("#supplier_id").val(id)
            $("#supplier_name").val(name)
            $("#supplier_status").val(status)
    }


    function add_new_supplier() {
        
        var suppInfo = {};
        
        $.each($('#supp_register').serializeArray(), function (i, field) {
            suppInfo[field.name] = field.value;
        });
       
           loading()
           suppInfo = JSON.stringify(suppInfo)
           var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
           
        $.ajax({
            url: URL_ROOT + '/addsupplier/',

            headers: {
                'Content-Type': undefined
            },
            type: "POST",
            crossDomain: true,
            data: { suppInfo, csrfmiddlewaretoken: $crf_token },
            success: function (result_output) {
                $(".close").click()
                toastr.success("Supplier added successfully.")
                location.reload().delay(5000);
            },
            error: function (error) {
                toastr.error(result_output.message)
                unloading()
                location.reload().delay(8000);
            }

        });     
        
       } 
    

</script>

{% endblock %}
